/**
 * <%= ComponentName %> Component Style for tingle
 * @author <%- props.authorName %>
 *
 * Copyright 2014-2016, Tingle Team.
 * All rights reserved.
 */

// tingle-style's utils
@require '../node_modules/tingle-style/src/var'

.t<%= ComponentName %>
    display block // 这一行只是演示 按需删除
